* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html {
  background-image: url("https://lh3.googleusercontent.com/9h6vZcjigz_E6Zh1Hbjpr6NTrsKg5_UX-Pr0nKi2K029nCjIXnVsjFJ3pUk_7isGY76-Cbsmiw=w640-h400-e365");
  background-repeat: repeat-y;
  background-size: cover;
}

#intro {
  color: #FFFAF0;
  font-size: 25px;
  font-family: Helvetica, Arial;
  margin: auto;
  padding: 1em;
  text-align: center;
  display: block;

}

#quote {
  font-size: 15px;
  font-style: italic;
  font-family: Helvetica, Arial;
  color: white;
  margin: 50px;
  padding: 50px;
  text-align: center;
  display: block;

}

#selfie {
  padding: 20px 20px;
  margin-top: 42px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 100%;
  max-width: 300px;
  max-height: 500px;

}

#social {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.navbar {
  text-align: center;
  border: 1px black;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar ul {
  border: 2px black;
  display: inline-block;
  margin: 10px 0;
  padding: 2px;
}

.navbar li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
}

li a:hover {
  background-color: #111;
}

h5 {
  font-size: 50px;
  text-align: center;
  width: 100%;
  padding: 10px;
  margin: 5px auto;
  color: white;
  text-decoration: underline;
}

.skillsArea {
  display: block;
  text-align: center;
}

.skillsArea img {
  width: 75px;
  height: 75px;
  margin: 20px;
}

.skillsArea img:hover {
  background-color: white;
}



h2 {
  margin: 50px;
  font-size: 30px;
  color: white;
  font-style: italic;
  text-align: center;

}

h6 {
  font-size: 20px;
  color: white;
  text-align: center;
  font-style: italic;
  padding: 10px;
  margin-bottom: 7px;
}

.message {
	padding: 5px;
	font-family: Tahoma, sans-serif;
  border-radius: 4px;
  text-align: inherit;
  border: 1px solid black;
  margin-bottom: 0.75em;
  width: 500px;
}

.name, .email {
	padding: 5px;
	font-family: Tahoma, sans-serif;
  border-radius: 4px;
  text-align: inherit;
  border: 1px solid black;
  margin-bottom: 0.75em;
  width: 500px;
}

button {
  width: 20%;
  padding: 1em;
  /* margin-left: 35%;
  margin-right: 35%;
  margin-top: 30px;
  margin-bottom: 50px; */
  border-radius: 2px;
  font-weight: 700;
  letter-spacing: 1px;
  border: 0;
  cursor: pointer;
  margin-top: 1em;
}  /* display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
} */

.alignContent, .flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  align-content: center;
  max-width: 600px;
  min-width: 200px;
}


/* .alignContent div {
  text-align: center;
  margin: .25rem;
  padding: .25rem;
} */

.alignEverything {
  padding: 0.5em;
}

.textContainer {
  margin-top: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;
}

.textContainer a {
  margin: 10px;
  padding: 5px;
  color: white;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
}

.textContainer h3 {
  margin-top: 10px;
  font-size: 24px;
  font-family: Helvetica, sans-serif;
}

.preview {
  color: white;
  margin: auto;
  text-align: center;
  font-size: 30px;
  font-family: Helvetica, sans-serif;


}

footer {
  margin-top: 50px;
}


footer img {
  margin: 50px;
  padding: 10px;
  width: 60px;
  height: 60px;

}

.socialMedia {
  color: white;
  font-size: 30px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  margin: auto;
  padding: 10px;
}


/* for carousel */




/* Slideshow container */
.slideshow-container {
  max-width: 1100px;
  min-width: 250px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  vertical-align: middle;
  border-style: none;
}

.mySlides img {
  width: auto;
  height: 800px;
  /* object-fit: cover; */
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text3 {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.text2 {
  color: black;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}100%


@media (min-width: 500px) {
  .message, .name, .email, button {
    width: 100%;
  }

}
