@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap');

html { background-color: rgb(26, 25, 25); z-index: 1;}

body {
  font-family: Montserrat, sans-serif;
}

/* NAVIGATION */

nav {
  /* display: flex;
  justify-content: center;
  background: #FFFACD;
  color: black;
  padding: 10px;
  font-size: 20px;
  font-family: Montserrat, sans-serif; */
  background: rgb(26, 25, 25);
  top: 0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
  /* text-align: center; */
}

body.fixed-nav nav {
  position: fixed;
  /* box-shadow: 0 5px 0 rgba(0,0,0,0.1); */
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.logo {
  max-width: 0;
  overflow: hidden;
  background: azure;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 40px;
}

li.logo a {
  color: black;
}

.fixed-nav li.logo {
  max-width: 400px;
}

nav a {
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  color: cornsilk;
  transition: all 0.2s;
  text-transform: uppercase;
}

nav a:hover {
  transform: scale(1.2);
  text-decoration: underline;
}

nav button {
  display: none;
}

/* GRID CONTAINER - BODY */

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  "skills skills"
  "slider slider"
  "git resume";
  grid-gap: 2em;
  grid-auto-flow: dense;
  background: azure;
  padding: 20px;
}

.intro-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  background: url(https://cache.marriott.com/marriottassets/destinations/hero/oceanside-ca-destination.jpg?interpolation=progressive-bilinear) center center/cover;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
}

.intro-container p {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: azure;
  font-style: italic;
  transform: translateY(200px);
}

/* .intro-container img:hover {
  border: 4px solid black;
  transform: scale(1.1);
  box-shadow: 0 0 10px azure;
} */

.info {
  flex-wrap: wrap;
  text-align: center;
  justify-self: flex-start;
  font-size: 0.9em;
  font-style: italic;
  color: azure;
  max-width: 800px;
  margin-bottom: 100px;
  transform: translateY(200px);
  margin-left: 50px;
}


.skills {
  grid-area: skills;
  align-self: center;
  justify-self: center;
  text-align: center;
  padding: 20px 0 30px 0;
}
.skills h2 {
  text-align: center;
  font-size: 3em;
  text-shadow: 1px 1px 2px azure;
}
.skills img {
  margin: 20px;
}

.item {
  width: 4.8rem;
  height: 4.8rem;
  
}

.slider {
  grid-area: slider;
  padding-top: 70px;
}

.slider h1 {
  text-align: center;
  font-size: 3em;
  margin: 0 auto;
}

.slides {
  width: 100%;
  max-width: 800px;
  height: 600px;
  /* border:2px solid cornsilk; */
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  /* box-sizing: border-box; */
}

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-auto-flow: dense;
  align-content: center;
  justify-content: center;
  transition: all .25s;
  transform: translateX(-200%);
}

.slide h3 {
  text-align: center;
  font-size: 2rem;
}

.slide.next + .slide {
  transform: translateX(200%);
}

.slide.prev {
  z-index: 10;
  transform: translateX(-100%);
}
.slide.current {
  z-index: 10;
  transform: translateX(0);
}
.slide.next {
  z-index: 10;
  transform: translateX(100%);
}

.slide img {
  width: 100%;
}

.slide-caption {
  text-align: center;
  /* font-size: 1.5rem; */
  color: black;
  font-style: italic;
}

.slide-caption p {
  text-decoration: underline;
}

.slide-caption p span {
  cursor: pointer;
}

.controls {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.controls button {
  background: white;
  border: 1px solid black;
  font-size: 1.5rem;
  border-radius: 40px;
}
.controls button:hover {
  cursor: pointer;
}

.git {
  grid-area: git;
  /* display: grid; */
  font-size: 1.5em;
  justify-self: center;
  align-self: center;
  text-align: center;
  
}

.git img {
  width: 75px;
  height: 75px;
  /* padding-top: 30px; */
}
.git img:hover {
  box-shadow: 0 0 5px azure;
  transform: scale(1.1);
  cursor: pointer;
}


.resume {
  grid-area: resume;
  /* display: grid; */
  font-size: 1.5em;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.resume img {
  width: 75px;
  height: 75px;
}
.resume img:hover {
  box-shadow: 0 0 5px azure;
  transform: scale(1.1);
  cursor: pointer;
}

/* CONTACT PAGE STYLING */
.form-flex-1,
.form-flex-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  position: relative;
  height: 70px;
  padding-bottom: 5px;
  overflow: hidden;
}

.form-flex-3 {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  position: relative;
  height: 200px;
  padding-bottom: 5px;
  overflow: hidden;
}

 .form-flex-3 textarea {
  resize:none;
}

.contactWrapper h1 {
  text-align: center;
  font-size: 3rem;
  margin: 0;
  padding-top: 20px;
}
.form-flex-1 input,
.form-flex-2 input {
  width: 100%;
  padding-top: 50px;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  border: none;
  background: none;
  margin: 0;
  outline: none;
}

.form-flex-1 label, .form-flex-2 label {
  position: absolute;
  color: black;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
  bottom: 0px;
  left: 0%;
  margin: 0;
}

.form-flex-3 label {
  position: absolute;
  color: black;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  pointer-events: none;
  bottom: 0px;
  left: 0%;
  margin: 0;
}

.form-flex-1 label::after, .form-flex-2 label::after {
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  bottom: -1px;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-200%);
  transition: all 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form-flex-1 input:focus + .label-name .content-name,
.form-flex-1 input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  color: #5fa8d3;
}

.form-flex-2 input:focus + .label-name .content-name,
.form-flex-2 input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  color: #5fa8d3;
}

.form-flex-1 input:focus + .label-name::after,
.form-flex-1 input:valid + .label-name::after {
  transform: translateX(0%);
}

.form-flex-2 input:focus + .label-name::after,
.form-flex-2 input:valid + .label-name::after {
  transform: translateX(0%);
}


.inputMessage {
  height: 200px;
  display:flex;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  background: none;
  border: 1px solid black;
  outline: none;
}

.contactButton {
  background: none;
  border: 2px solid black;
  font-size: 1.5rem;
  border-radius: 40px;
  width: 100%;
  max-width: 200px;
  color: black;
  display: block;
  padding:5px;
  text-align: center;
  align-self: center;
  margin: 10px auto;
}

.contactButton:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.imgContainer {
  text-align: center;
}
.socialImg {
  width: 100%;
  max-width: 50px;
  padding: 0 20px;
}
.socialImg:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.social {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  justify-content: center;

}
.social h4 {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  align-items: center;
  font-size: 2.2em;
}

.social h4:before, .social h4:after {
  display: block;
  content: '';
  height: 5px;
  background: linear-gradient(to var(--direction, left), black, transparent);
}

.social h4:after {
  --direction: right;
}

.contactWrapper {
  height: 100vh;
  background: azure;
}

.modal-outer {
  display: grid;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  /* Hide this modal until we need it */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}
.modal-inner p {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
}

.modal-inner {
  max-width: 600px;
  min-width: 400px;
  padding: 2rem;
  border-radius: 5px;
  min-height: 200px;
  background: white;
  opacity: 0;
  transition: all 1s ease;
}
.modal-outer img {
  width: 100%;
}
.modal-outer.open {
  opacity: 1;
  pointer-events: all;
}
.modal-outer.open .modal-inner {
  opacity: 1;
}

/* ABOUT ME PAGE STYLING */
.about-wrap {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px;
  text-align: justify;
  background: azure;
}

.about-wrap img {
  width: 100%;
  max-width: 175px;
  height: 120px;
}

.about-wrap img.solo {
  display: block;
  height: 250px;
  margin: 0 auto;
  width: 300px;
}

.left-align {
  float: left;
  margin-right: 20px;
}

.right-align {
  float: right;
  margin-left: 20px;
}

.slide-in {
  opacity: 0;
  transition: all .5s;
}

.left-align.slide-in {
  transform: translateX(-30%) scale(0.95);
}

.right-align.slide-in {
  transform: translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}
/* .about-wrap span {
  font-size: 3rem;
  text-decoration: underline;
} */
.about-wrap p {
  font-size: 1.1rem;
  line-height: 1.5;
}

footer {
  padding-bottom: 10px;
  text-align: center;
  background: rgba(32, 32, 32, 0.1);
}

footer h2 {
  color: azure;

}

/* MEDIA QUERIES */

@media (max-width: 1000px) {
  /* body {
    font-size: 1.2em;
  } */
  .info {
  text-align: center;
  margin: 20px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "intro intro"
    "skills skills"
    "info info"
    "git resume"
    "slider slider";
    grid-gap: 2em;
    /* grid-auto-flow: dense; */
  }

}
@media (max-width: 600px) {
  .logo {
    display: none;
  }

  .about-wrap p {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "skills"
    "slider"
    "git"
    "resume";
    
    grid-gap: 2em;
    /* grid-auto-flow: dense; */
  }

  .info {
    text-align: center;
    margin: 20px;
  }

  nav {
    order: -1;
    perspective: 800px;
    background: none;
  }
  [aria-controls="nav-list"] {
    display: block;
    /* flex-direction: column; */
    margin-bottom: 10px;
    text-align: center;
  }
  
  nav ul {
    max-height: 0;
    overflow: hidden;
    transform: rotateX(90deg);
    transition: all 0.5s;
  }

  [aria-expanded="true"] ~ ul {
    display: grid;
    max-height: 500px;
    /* flex-direction: column; */
    transform: rotateX(0);
  }

  [aria-expanded="false"] .close {
    display: none;
  }

  [aria-expanded="true"] .close {
    display: inline-block;
  }

  [aria-expanded="true"] .open {
    display: none;
  }

  nav button {
    color: azure;
    background: none;
    font-size: 2rem;
    border: none;
  }

  nav a {
    color: azure;
  }
  body.fixed-nav nav {
    position: relative;
  }

  .social {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  
  }
  .social h4 {
    grid-column: 1 / -1;
    display: grid;
    align-items: center;
    font-size: 2.2em;
  }

  .socialImg {
    width: 100%;
    max-width: 100px;
    padding: 10px;
  }

  .about-wrap p {
    font-size: 1.2rem;
    line-height: 1.1;
  }

  .socialImg {
    width: 100%;
    max-width: 50px;
    padding: 10px;
  }
}